Intermediate
Saved
/KitchenGuardians.sln
/KitchenGuardians.v12.suo
/KitchenGuardians.sdf
/Binaries/Win64/*.pdb
/Config/DefaultEditorUserSettings.ini
/Config/DefaultEditorPerProjectUserSettings.ini
/KitchenGuardians.opensdf
/Binaries/IOS
Android_ASTC
Android
